<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://github.com/lrmn7/"> <b>L RMN Dashboard</b> Version 5.3.0</a>
  </div>
  <strong
    >This website uses <a target="_blank" href="https://adminlte.io">AdminLTE</a> and <a target="_blank" href="https://boostrap.com">Bootstrap</a>. Made
    with <i class="fa fa-heart"></i> inBOGOR by <a target="_blank" href="https://lrmn.is-a.dev/">L RMN</a>.</strong
  >
</footer>
